/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
body {
  font-family: 'Roboto Slab', serif;
}

.container {
  display: flex;
  margin-top: 30px;
  text-align: left;
}

.sidebar {
  padding-left: 2rem;
}

.content {
  padding-left: 4rem;
}

h1, h2, p {
  color: #333333;
}

h1 {
  font-size: 2rem;
  margin-top: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

h4 {
  font-size: 1rem;
  color: #666666;
}

p {
  font-size: 1rem;
}

a {
  color: #4990E2;
  font-size: 1rem;
  text-decoration: none;
}

.date-line {
  display: flex;
  text-align: left;
}

.date-line a {
  padding-left: 1rem;
}
