@font-face {
    font-family: "DejaVuSerif";
    src: url("/fonts/DejaVuSerif.ttf");
}

/* reduce maximum width */
@media (min-width: 1200px) {
	.container {
		width: 970px;
	}
}

/* Header options */
.page-header h1 {
	font-family: "DejaVuSerif";
}

/* Image thumbnails */

.thumb {
	margin-left: auto;
	margin-right: auto;
	width: 175px;
	height: 175px;
}

.caption {
	padding-top: 10px;
}

.footer {
	padding-top: 15px;
	padding-bottom: 35px;
}

.contact-list {
	list-style: none;
}