---
layout: new
---
<!Doctype html>
<html>
<head>
	<!-- Page Title -->
	<title>{{ page.title }}</title>


	<!-- Bootstrap -->
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

	<!-- Custom Stylesheet -->
	<link rel="stylesheet" href="/css/new.css"/>

	<!-- Jquery -->
	<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Dylan Hurd</h1> 
		</div>
	</div>

	<div class="content container">
		{{ content }}
	</div>

</body>
</html>